{% extends 'pizza/base.html' %}
{% block 'body' %}
<div class="container">
    <h1>Edit Multiple Pizza</h1>

    <h2>{{ note }}</h2>

    <form action="{% url 'edit_multi_order' pizza.id nop %}" method="post">
        {% csrf_token %}
        {{ pizzaform }}
        <br><br>
        {{ formset.management_form }}

        {% for form in formset %}
            {{ form }}
            <br><br>
        {% endfor %}

        {% if note != 'Orders has been updated.' %}
            <input type="submit" value="Edit Multiple Pizzas">
        {% endif %}

    </form>

</div>
{% endblock%}