<h1>Order a Pizza</h1>

<h2>{{ note }}</h2>

<!-- the action of a form is where you want to send the form. by default if you don't provide anything in the action
    is going to go to the url where you currently are. even if it's what you want, 
    it's always a best practice to make sure that you specify where the url is
-->
<form action="{% url 'order' %}" method="post">
    {% csrf_token %}
    {{ pizzaform }}
    <input type="submit" value="Order Pizza">
</form>

<br><br>

Want more than one pizza?

<form action="{% url 'pizzas' %}" method="get">
    {{multiple_form}}
    <input type="submit" value="Get Pizzas">
</form>