{% extends 'pizza/base.html' %}
{% block 'body' %}
{% load static %}
<div class="container">
    <h1>Order Pizzas</h1>
    <h2>{{ note }}</h2>
    {% if nop %}
    <a href="{% url 'edit_multi_order' created_pizza_pk nop %}">Edit Your Pizza Order kkk </a>
    {% endif %}

    <form id="multiplepizzaform" action="{% url 'pizzas' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
        {{ form }}
        <br><br>
        {% endfor %}
        <input type="submit" value="Order Pizzas">
    </form>

    <script src="{% static 'scripts/apps.js' %}"></script>

</div>
{% endblock%}
